<!DOCTYPE html>
{% extends "testapp/base.html" %}
{% block body_block %}
<style>
    button{
        background-color: green;
    }
</style>
<title>Confirm Deletion</title>
<h3>Are you sure you want to delete all records?</h3>
<form method="POST">
    {% csrf_token %}
    <label>
        <input type="radio" name="confirmation" value="yes"> Yes
    </label>
    <label>
        <input type="radio" name="confirmation" value="no"> No
    </label>
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}

    

   
